#Inicio{
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
}

.seccion-inicio-informacion-imagen{
    box-shadow: 2px 2px 5px #999;
    z-index: 0;
}

.seccion-inicio-informacion-texto{
    position:absolute;
    margin-top: 100px;
    font-size: 10vh;   
    font-weight:bold;
    font-style: italic;
    color: #FFD900;
    font-family: "Noto Sans", sans-serif;
    top: 0px;
    margin-right: 25px;
    right: 10px;
    z-index: 0;
}

.navbar{
    z-index: 1;
}


@media only screen and (max-width: 1180px) and (min-width: 981px) {  
    .seccion-inicio-informacion-texto {
        font-size: 7vh;
        margin-top: 60px;
        display: none;
    }
} 

/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {  
    .seccion-inicio-informacion-texto {
        font-size: 7vh;
        margin-top: 60px;
        display: none;
    }
}  
  
  /* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
    .seccion-inicio-informacion-texto {
        font-size: 7vh;
        margin-top: 60px;
        display: none;
    }
}  
  
  /* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
    .seccion-inicio-informacion-texto {
        font-size: 6vh;
        margin-top: 60px;
        display: none;
    }
}  
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) {  
    .seccion-inicio-informacion-texto {
        font-size: 6vh;
        margin-top: 60px;
        display: none;
    }
  } 

  @media only screen and (max-width: 341px) {  
    .seccion-inicio-informacion-texto {
        font-size: 6vh;
        margin-top: 60px;
        display: none;
    }
  } 
